extends ../../layout/clearlayout

block variables
    - var metaTitle = "Error 404";
    - var metaKeywords = "";
    - var metaDescription = "";

block content
    section#error-page.tile
        h1.m-b-10 ERROR&nbsp;404
        //-p Sorry, but the page you are looking for has not been found. Try checking the URL for errors. Don't worry though, we will help you get to the right place.
        p 抱歉，您访问的页面未找到，请检查您的链接！
        p 请不要担心，我们会帮您找到正确的页面！
        //a.underline(href="") Back to previous page
        a.underline(href="javascript:void(0);" onclick="javascript:history.go(-1);") 返回上一页
        | &nbsp;or&nbsp;
        //a.underline(href="") Go to Home page
        a.underline(href="/") 返回首页
    //-section