extends ../../layout/clearlayout

block variables
    - var metaTitle = "Error 500";
    - var metaKeywords = "";
    - var metaDescription = "";

block content
    section#error-page.tile
        h1.m-b-10 ERROR&nbsp;500
        p 抱歉，您访问的页面发生错误！
        p 请不要担心，我们会帮尽快处理！
        a.underline(href="javascript:void(0);" onclick="javascript:history.go(-1);") 返回上一页
        | &nbsp;or&nbsp;
        a.underline(href="/") 返回首页
        .text-left
            //h3= message
            pre= message
            pre= error.stack
        //-div
    //-section