/client/widgets/*
!/client/widgets/L.js
!/client/widgets/javask-tools/
!/client/widgets/jquery.ua/
.idea/
_document/
node_modules/
client/bower_components/

dump.rdb
nohup.out
.DS_Store
*/.DS_Store
*.log
*.iml
