/client/widgets/*
!/client/widgets/L.js
!/client/widgets/javask-tools
!/client/widgets/jquery.ua
client/bower_components
node_modules
.idea
_document
lib-cov
pids
logs
results

dump.rdb
.DS_Store
*/.DS_Store
*.log
*.iml
*.seed
*.dat
*.out
*.pid
