extends ../../layout/template

block variables
    - var pageTitle = "Messages";
    - var metaTitle = "Messages";
    - var metaKeywords = "";
    - var metaDescription = "";
    - var currentUrl = "/template/pages/message";
    - var menuId = 1;

block sheetstyle

block javascript-library
    //- WYSIWYG editor(summernote)
    //-script(type="text/javascript" src="/widgets/summernote/dist/summernote.min.js")
    script(type="text/javascript" src="/template/javascript/editor.min.js")

block javascript
    script(type="text/javascript").
        $( document ).ready( function() {
            // editor
            $( ".message-editor" ).summernote( {
                 "height"   : 200
                ,"resizable": false
                ,"toolbar"  : [
                    //[ "style"    , [ "style" ] ] // no style button
                     [ "style"    , [ "bold" , "italic" , "underline" , "clear" ] ]
                    ,[ "fontsize" , [ "fontsize" ] ]
                    ,[ "color"    , [ "color" ] ]
                    ,[ "para"     , [ "ul" , "ol" , "paragraph" ] ]
                    //,[ "height"   , [ "height" ] ]
                    ,[ "insert"   , [ "picture" , "link" ] ] // no insert buttons
                    //,[ "table"    , [ "table" ] ] // no table button
                    //,[ "help"     , [ "help" ] ] //no help button
                ]
            } );

            $( ".message-options" ).click( function() {
                $( this ).closest( ".modal" ).find( ".note-toolbar" ).toggle();
            } );
        } );

block leftcontent
    include ../../include/leftcontent/combination-2

block content
    // message list
    .listview.list-click

        header.media.listview-header
            ul.pull-right.list-inline.m-t-5.m-b-0
                li.pagin-value.hidden-xs 35-70
                li
                    a.tooltips(href="javascript:void(0);" title="Previous"): i.sa-list-back
                //-li
                li
                    a.tooltips(href="javascript:void(0);" title="Next"): i.sa-list-forwad
                //-li
            //-ul
            ul.pull-left.list-inline.list-mass-actions
                li.m-r-10
                    a.tooltips(href="/template/pages/messages" title="Back to Inbox"): i.sa-list-back
                //-li
                li
                    a.tooltips(href="javascript:void(0);" title="Archive"): i.sa-list-archive
                //-li
                li
                    a.tooltips(href="javascript:void(0);" title="Spam"): i.sa-list-spam
                //-li
                li.show-on
                    a.tooltips(href="javascript:void(0);" title="Delete"): i.sa-list-delete
                //-li
                li.show-on
                    a.tooltips(href="javascript:void(0);" title="Move"): i.sa-list-move
                //-li
            //-ul
            .clearfix
        //-header

        h2.page-title Re: Regarding website updates

        .media.message-header.o-visible
            img.pull-left.p-r-0.m-r-10(src="/template/images/profile-pics/6.jpg" width="40" alt="")
            .pull-right.dropdown.m-t-10
                a.p-5(href="javascript:void(0);" data-toggle="dropdown") Options
                ul.dropdown-menu.text-right
                    li: a(href="javascript:void(0);") Reply
                    li: a(href="javascript:void(0);") Forward
                    li: a(href="javascript:void(0);") Mark as Spam
                //-ul
            //-div
            .media-body
                span.f-bold.pull-left.m-b-5 Malinda Hollaway
                .clearfix
                .dropdown
                    | To&nbsp;
                    a.underline(href="javascript:void(0);") Me
                    | &nbsp;on 12th February 2014
                //-div
            //-div
        //-div

        // content
        .p-15
            p Hi Wendy,
            p Morbi dignissim tortor urna, eget feugiat ipsum rutrum et. Aenean sem nisi, ultricies vel lorem nec, blandit venenatis tellus. Donec accumsan, turpis vel euismod ultrices, massa quam ultricies turpis, non pretium dolor nulla sit amet sem. Ut vel blandit sem, vitae tristique tellus. Suspendisse odio ligula, feugiat eu velit in, mattis pharetra libero. Nunc ac tincidunt nibh. Nullam mauris urna, elementum ac odio et, condimentum suscipit orci. Nulla pellentesque a magna et pellentesque. Suspendisse euismod convallis nisi sed placerat.
            p Morbi imperdiet tempor velit, sed sagittis ipsum. In gravida, enim ac commodo congue, purus augue faucibus tellus, vel tempus sapien enim eget urna. Mauris molestie fringilla orci, et scelerisque sem dapibus convallis. In ut erat quam. Donec facilisis ipsum ac nulla lobortis.
            p Regards,<br/> Malinda Hollaway
        //-div

        hr.whiter
        // attachement
        .p-15
            p
                | 3 Attachements -&nbsp;
                a.underline(href="javascript:void(0);") Download all as ZIP
            //-p
            a.message-attachement.news.tile(href="javascript:void(0);")
                img(src="/template/images/filemanager/icon/doc.png" alt="Meeting Agenda.doc")
                br
                small.t-overflow Meeting Agenda.doc
            //-a
            a.message-attachement.news.tile(href="javascript:void(0);")
                img(src="/template/images/profile-pics/6.jpg" alt="Profile Picture.jpg")
                br
                small.t-overflow Profile Picture.jpg
            //-a
            a.message-attachement.news.tile(href="javascript:void(0);")
                img(src="/template/images/filemanager/icon/pdf.png" alt="Presentation.pdf")
                br
                small.t-overflow Presentation.pdf
            //-a
        //-div

    //-div

    // compose
    include ../../include/compose-message
