extends ../../layout/template

block variables
    - var pageTitle = "Messages";
    - var metaTitle = "Messages";
    - var metaKeywords = "";
    - var metaDescription = "";
    - var currentUrl = "/template/pages/messages";
    - var menuId = 1;

block sheetstyle

block javascript-library
    //- WYSIWYG editor(summernote)
    //-script(type="text/javascript" src="/widgets/summernote/dist/summernote.min.js")
    script(type="text/javascript" src="/template/javascript/editor.min.js")

block javascript
    script(type="text/javascript").
        $( document ).ready( function() {
            // editor
            $( ".message-editor" ).summernote( {
                 "height"   : 200
                ,"resizable": false
                ,"toolbar"  : [
                    //[ "style"    , [ "style" ] ] // no style button
                     [ "style"    , [ "bold" , "italic" , "underline" , "clear" ] ]
                    ,[ "fontsize" , [ "fontsize" ] ]
                    ,[ "color"    , [ "color" ] ]
                    ,[ "para"     , [ "ul" , "ol" , "paragraph" ] ]
                    //,[ "height"   , [ "height" ] ]
                    ,[ "insert"   , [ "picture" , "link" ] ] // no insert buttons
                    //,[ "table"    , [ "table" ] ] // no table button
                    //,[ "help"     , [ "help" ] ] //no help button
                ]
            } );

            $( ".message-options" ).click( function() {
                $( this ).closest( ".modal" ).find( ".note-toolbar" ).toggle();
            } );
        } );

block leftcontent
    include ../../include/leftcontent/combination-2

block content
    // message list
    .message-list.list-container
        header.media.listview-header
            input.pull-left.list-parent-check(type="checkbox" value="")
            ul.pull-right.list-inline.m-t-5.m-b-0
                li.pagin-value.hidden-xs 35-70
                li
                    a.tooltips(href="javascript:void(0);" title="Previous"): i.sa-list-back
                //-li
                li
                    a.tooltips(href="javascript:void(0);" title="Next"): i.sa-list-forwad
                //-li
            //-ul
            ul.pull-left.list-inline.list-mass-actions
                li
                    a.tooltips(href="#compose-message" data-toggle="modal" title="Add"): i.sa-list-add
                //-li
                li
                    a.tooltips(href="javascript:void(0);" title="Refresh"): i.sa-list-refresh
                //-li
                li.show-on.hidden
                    a.tooltips(href="javascript:void(0);" title="Move"): i.sa-list-move
                //-li
                li.show-on.hidden
                    a.tooltips(href="javascript:void(0);" title="Delete"): i.sa-list-delete
                //-li
            //-ul
            input.pull-right.message-search.input-sm.col-md-4(type="text" placeholder="Search...")
            .clearfix
        //-header

        .media
            input.pull-left.list-check(type="checkbox")
            a.media-body.reset(href="/template/pages/message")
                .pull-left.list-title: span.t-overflow.f-bold Christian Bale
                .pull-right.list-date 9.46 am
                .media-body.hidden-xs: span.t-overflow Per an error perpetua, fierent fastidii recteque ad pro. Mei id brute intellegam.
            //-a
        //-div
        .media
            input.pull-left.list-check(type="checkbox")
            a.media-body.reset(href="/template/pages/message")
                .pull-left.list-title: span.t-overflow.f-bold Angel Norton Junior
                .pull-right.list-date 7.56 am
                .media-body.hidden-xs: span.t-overflow Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum sem ligula, vulputate et.
            //-a
        //-div
        .media
            input.pull-left.list-check(type="checkbox")
            a.media-body.reset(href="/template/pages/message")
                .pull-left.list-title: span.t-overflow Stirling Sheard
                .pull-right.list-date Feb 1
                .media-body.hidden-xs: span.t-overflow Nullam adipiscing tempus ornare. Sed varius nisl ac feugiat feugiat. Nam rhoncus nibh a eros ullamcorper pulvinar.
            //-a
        //-div
        .media
            input.pull-left.list-check(type="checkbox")
            a.media-body.reset(href="/template/pages/message")
                .pull-left.list-title: span.t-overflow Reginald Horace
                .pull-right.list-date Jan 31
                .media-body.hidden-xs: span.t-overflow Sed varius nisl ac feugiat feugiat. Nam rhoncus nibh a eros ullamcorper pulvinar.
            //-a
        //-div
        .media
            input.pull-left.list-check(type="checkbox")
            a.media-body.reset(href="/template/pages/message")
                .pull-left.list-title: span.t-overflow Jeremy Robbins
                .pull-right.list-date Jan 30
                .media-body.hidden-xs: span.t-overflow Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.
            //-a
        //-div
        .media
            input.pull-left.list-check(type="checkbox")
            a.media-body.reset(href="/template/pages/message")
                .pull-left.list-title: span.t-overflow Mark Henry
                .pull-right.list-date Jan 28
                .media-body.hidden-xs: span.t-overflow Li Europan lingues es membres del sam familie. Lor separat existentie es.
            //-a
        //-div
        .media
            input.pull-left.list-check(type="checkbox")
            a.media-body.reset(href="/template/pages/message")
                .pull-left.list-title: span.t-overflow David Mirage Paul
                .pull-right.list-date Jan 27
                .media-body.hidden-xs: span.t-overflow Suscipit lorem. Cras felis nunc, semper ac tristique ac, tincidunt ac odio. Nulla semper scelerisque.
            //-a
        //-div
        .media
            input.pull-left.list-check(type="checkbox")
            a.media-body.reset(href="/template/pages/message")
                .pull-left.list-title: span.t-overflow Thomus Alva Edition
                .pull-right.list-date Jan 30
                .media-body.hidden-xs: span.t-overflow Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.
            //-a
        //-div
        .media
            input.pull-left.list-check(type="checkbox")
            a.media-body.reset(href="/template/pages/message")
                .pull-left.list-title: span.t-overflow Alexandar Ven Dixxin
                .pull-right.list-date Jan 30
                .media-body.hidden-xs: span.t-overflow Nunc porta metus quis quam bibendum, ac egestas mauris feugiat.
            //-a
        //-div
        .media
            input.pull-left.list-check(type="checkbox")
            a.media-body.reset(href="/template/pages/message")
                .pull-left.list-title: span.t-overflow Jeremy Robbins
                .pull-right.list-date Jan 30
                .media-body.hidden-xs: span.t-overflow Quisque placerat turpis elementum, lobortis neque ut, consequat lorem.
            //-a
        //-div
        .media
            input.pull-left.list-check(type="checkbox")
            a.media-body.reset(href="/template/pages/message")
                .pull-left.list-title: span.t-overflow Vin Diesel
                .pull-right.list-date Jan 30
                .media-body.hidden-xs: span.t-overflow Morbi varius ipsum faucibus, sodales dolor eu, tempus massa.
            //-a
        //-div
        .media
            input.pull-left.list-check(type="checkbox")
            a.media-body.reset(href="/template/pages/message")
                .pull-left.list-title: span.t-overflow Hendrick Wotkinson
                .pull-right.list-date Jan 30
                .media-body.hidden-xs: span.t-overflow Donec dapibus porta nunc a lacinia. Praesent non odio sed elit posuere venenatis eget ut massa. Nullam convallis commodo
            //-a
        //-div
        .media
            input.pull-left.list-check(type="checkbox")
            a.media-body.reset(href="/template/pages/message")
                .pull-left.list-title: span.t-overflow James Anderon
                .pull-right.list-date Jan 30
                .media-body.hidden-xs: span.t-overflow Dnunc, faucibus tempus quam ultrices vitae. Nullam eget elit posuere mi aliquam vehicula. Suspendisse potenti.
            //-a
        //-div
        .media
            input.pull-left.list-check(type="checkbox")
            a.media-body.reset(href="/template/pages/message")
                .pull-left.list-title: span.t-overflow Steve Saphires
                .pull-right.list-date Jan 30
                .media-body.hidden-xs: span.t-overflow Quisque tristique pellentesque lacus ac aliquet. Maecenas condimentum aliquam ligula tincidunt commodo.
            //-a
        //-div
        .media
            input.pull-left.list-check(type="checkbox")
            a.media-body.reset(href="/template/pages/message")
                .pull-left.list-title: span.t-overflow Mendes Carolina
                .pull-right.list-date Jan 30
                .media-body.hidden-xs: span.t-overflow Sed pretium nulla et lacus cursus porttitor. Morbi pellentesque mauris vitae magna facilisis facilisis.
            //-a
        //-div
        .media
            input.pull-left.list-check(type="checkbox")
            a.media-body.reset(href="/template/pages/message")
                .pull-left.list-title: span.t-overflow Paul Ven Deck
                .pull-right.list-date Jan 30
                .media-body.hidden-xs: span.t-overflow Ut tristique suscipit lorem. Cras felis nunc, semper ac tristique ac, tincidunt ac odio. Nulla semper scelerisque.
            //-a
        //-div
    //-div

    //- compose
    include ../../include/compose-message
