a#settings(href="#changeSkin" data-toggle="modal")
    i.fa.fa-gear
    | Change&nbsp;Skin
//-a
#changeSkin.modal.fade(tabindex="-1" role="dialog" aria-hidden="true")
    .modal-dialog.modal-lg
        .modal-content
            .modal-header
                button.close(type="button" data-dismiss="modal" aria-hidden="true") $times;
                h4.modal-title Change&nbsp;Template&nbsp;Skin
            //-div
            .modal-body
                .row.template-skins
                    a.col-sm-2.col-xs-4(href="javascript:void(0);" data-skin="skin-blur-violate"):  img(src="/template/images/skin/preview/violate.jpg"  alt="")
                    a.col-sm-2.col-xs-4(href="javascript:void(0);" data-skin="skin-blur-lights"):   img(src="/template/images/skin/preview/lights.jpg"   alt="")
                    a.col-sm-2.col-xs-4(href="javascript:void(0);" data-skin="skin-blur-city"):     img(src="/template/images/skin/preview/city.jpg"     alt="")
                    a.col-sm-2.col-xs-4(href="javascript:void(0);" data-skin="skin-blur-greenish"): img(src="/template/images/skin/preview/greenish.jpg" alt="")
                    a.col-sm-2.col-xs-4(href="javascript:void(0);" data-skin="skin-blur-night"):    img(src="/template/images/skin/preview/night.jpg"    alt="")
                    a.col-sm-2.col-xs-4(href="javascript:void(0);" data-skin="skin-blur-blue"):     img(src="/template/images/skin/preview/blue.jpg"     alt="")
                    a.col-sm-2.col-xs-4(href="javascript:void(0);" data-skin="skin-blur-sunny"):    img(src="/template/images/skin/preview/sunny.jpg"    alt="")
                    a.col-sm-2.col-xs-4(href="javascript:void(0);" data-skin="skin-blur-cloth"):    img(src="/template/images/skin/preview/cloth.jpg"    alt="")
                    a.col-sm-2.col-xs-4(href="javascript:void(0);" data-skin="skin-blur-tectile"):  img(src="/template/images/skin/preview/tectile.jpg"  alt="")
                    a.col-sm-2.col-xs-4(href="javascript:void(0);" data-skin="skin-blur-chrome"):   img(src="/template/images/skin/preview/chrome.jpg"   alt="")
                    a.col-sm-2.col-xs-4(href="javascript:void(0);" data-skin="skin-blur-ocean"):    img(src="/template/images/skin/preview/ocean.jpg"    alt="")
                    a.col-sm-2.col-xs-4(href="javascript:void(0);" data-skin="skin-blur-sunset"):   img(src="/template/images/skin/preview/sunset.jpg"   alt="")
                    a.col-sm-2.col-xs-4(href="javascript:void(0);" data-skin="skin-blur-yellow"):   img(src="/template/images/skin/preview/yellow.jpg"   alt="")
                    a.col-sm-2.col-xs-4(href="javascript:void(0);" data-skin="skin-blur-kiwi"):     img(src="/template/images/skin/preview/kiwi.jpg"     alt="")
                    a.col-sm-2.col-xs-4(href="javascript:void(0);" data-skin="skin-blur-nexus"):    img(src="/template/images/skin/preview/nexus.jpg"    alt="")
                //-div
            //-div
        //-div
    //-div
//-div
