link(type="text/css" rel="stylesheet" href="/widgets/bootstrap/dist/css/bootstrap.min.css")
link(type="text/css" rel="stylesheet" href="/widgets/animate.css/animate.min.css")
link(type="text/css" rel="stylesheet" href="/widgets/font-awesome/css/font-awesome.min.css")
//link(type="text/css" rel="stylesheet" href="/widgets/fullcalendar/dist/fullcalendar.min.css")
link(type="text/css" rel="stylesheet" href="/template/css/form.css")
link(type="text/css" rel="stylesheet" href="/template/css/calendar.css")
link(type="text/css" rel="stylesheet" href="/template/css/style.css")
link(type="text/css" rel="stylesheet" href="/template/css/icons.css")
link(type="text/css" rel="stylesheet" href="/template/css/generics.css")