//- javascript libraries
script(type="text/javascript" src="/widgets/jquery/dist/jquery.min.js")
script(type="text/javascript" src="/widgets/bootstrap/dist/js/bootstrap.min.js")
script(type="text/javascript" src="/widgets/iCheck/icheck.min.js")
//- custom scrolbar
script(type="text/javascript" src="/template/javascript/scroll.min.js")