doctype html

//- base variables
block base-variables

html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
        meta(name="format-detection" content="telephone=no")
        meta(name="format-detection" content="email=no")
        meta(name="format-detection" content="address=no")
        meta(chatset="utf-8")
        meta(name="keywords" content=metaKeywords||"")
        meta(name="description" content=metaDescription||"")
        title= ( metaTitle || "" ) + " - Super Admin Presponsive Template"
        //- base css include
        include ../include/layout/basecss
        block base-css
    //-head
    body(id=skinName)

        block base-content

        //- base javascript library include
        include ../include/layout/basejavascript
        block base-javascript-library

        script(type="text/javascript" src="/template/javascript/functions.js")
        block base-javascript

    //-body
//-html
