extends ./base

block basevariables
    - var skinName = "skin-tectile";
    block variables

block basecss
    block stylesheet

block basejavascriptlibrary
    block javascriptlibrary

block basejavascript
    block javascript

block basecontent
    block content