extends ./base

block base-variables
    - var skinName = "skin-tectile";
    block variables

block base-css
    block stylesheet

block base-javascript-library
    block javascript-library

block base-javascript
    block javascript

block base-content
    block content