extends ./base

block base-variables
    - var skinName = "skin-tectile";
    block variables

block base-css
    block stylesheet

block base-javascript-library
    //- moment and calendar
    //-script(type="text/javascript" src="/widgets/moment/min/moment.min.js")
    //-script(type="text/javascript" src="/widgets/moment/locale/zh-cn.js")
    script(type="text/javascript" src="/template/javascript/calendar.min.js")
    //-script(type="text/javascript" src="/widgets/fullcalendar/dist/fullcalendar.min.js")
    //-script(type="text/javascript" src="/widgets/fullcalendar/dist/locale-all.js")
    //- FeedEk
    script(type="text/javascript" src="/widgets/FeedEk/js/FeedEk.js")
    //script(type="text/javascript" src="/template/javascript/feeds.min.js")

    block javascript-library

block base-javascript
    block javascript

block base-content
    //- header
    include ../include/header

    .clearfix

    section#main.p-relative(role="main")
        include ../include/settings

        //- sidebar
        aside#sidebar
            //- sidebar widgets
            .side-widgets.overflow
                //- profile menu
                include ../include/menu/profile
                .s-widgets
                    block leftcontent
                //-div
            //-div
            //- side menu
            include ../include/menu/side
        //-aside

        // content
        section#content.container
            //- messages drawer
            include ../include/drawer/messages

            //- notification drawer
            include ../include/drawer/notifications

            //- breadcrumb
            include ../include/breadcrumb

            // page title
            h4.page-title.b-0= pageTitle || "Home"

            //- content
            block content
        //-section
    //-section