.list-group.m-t-10.list-group-flat
    a.list-group-item.active(href="javascript:void(0);")
        | Inbox
        span.badge.badge-trp 23
    //-a
    a.list-group-item(href="javascript:void(0);")
        | Important
        span.badge.badge-trp 12
    //-a
    a.list-group-item(href="javascript:void(0);")
        | Starred
        span.badge.badge-trp 02
    //-a
    a.list-group-item(href="javascript:void(0);")
        | Drafts
        span.badge.badge-trp 05
    //-a
    a.list-group-item(href="javascript:void(0);") Sent Mail
    a.list-group-item(href="javascript:void(0);")
        | Spam
        span.badge.badge-trp 85
    //-a
//-div