.list-group.m-t-15.list-group-flat
    a.list-group-item(href="javascript:void(0);")
        span.message-tag.progress-bar-warning
        | Work
    //-a
    a.list-group-item(href="javascript:void(0);")
        span.message-tag.progress-bar-danger
        | Personal
    //-a
    a.list-group-item(href="javascript:void(0);")
        span.message-tag.progress-bar-info
        | Promotions
    //-a
    a.list-group-item(href="javascript:void(0);")
        span.message-tag.progress-bar-success
        | Clients
    //-a
//-div