.s-widget.m-b-25
    h2.tile-title Projects on going
    .s-widget-body
        .side-border
            small Joomla Website
            .progress.progress-small
                a.progress-bar.tooltips.progress-bar-danger(href="javascript:void(0);" data-toggle="tooltip" title="" style="width:60%;" data-original-title="60%"): span.sr-only 60% Complate
            //-div
        //-div
        .side-border
            small Opencart E-Commerce Website
            .progress.progress-small
                a.progress-bar.tooltips.progress-bar-info(href="javascript:void(0);" data-toggle="tooltip" title="" style="width:43%;" data-original-title="43%"): span.sr-only 43% Complate
            //-div
        //-div
        .side-border
            small Social Media API
            .progress.progress-small
                a.progress-bar.tooltips.progress-bar-warning(href="javascript:void(0);" data-toggle="tooltip" title="" style="width:81%;" data-original-title="81%"): span.sr-only 81% Complate
            //-div
        //-div
        .side-border
            small VB.Net Software Package
            .progress.progress-small
                a.progress-bar.tooltips.progress-bar-success(href="javascript:void(0);" data-toggle="tooltip" title="" style="width:10%;" data-original-title="10%"): span.sr-only 10% Complate
            //-div
        //-div
        .side-border
            small Chrome Extension
            .progress.progress-small
                a.progress-bar.tooltips.progress-bar-success(href="javascript:void(0);" data-toggle="tooltip" title="" style="width:95%;" data-original-title="95%"): span.sr-only 95% Complate
            //-div
        //-div
    //-div
//-div