#profile-menu.text-center.s-widgets.m-b-25.dropdown
    a(href="javascript:void(0);" data-toggle="dropdown"): img.profile-pic.animated(src="/template/images/profile-pic.jpg" alt="")
    ul.dropdown-menu.profile-menu
        li.text-center
            a(href="javascript:void(0);") My Profile
            i.icon.left &#61903;
            i.icon.right &#61815;
        //-li
        li.text-center
            a(href="javascript:void(0);") Messages
            i.icon.left &#61903;
            i.icon.right &#61815;
        //-li
        li.text-center
            a(href="javascript:void(0);") Settings
            i.icon.left &#61903;
            i.icon.right &#61815;
        //-li
        li.text-center
            a(href="javascript:void(0);") Sign Out
            i.icon.left &#61903;
            i.icon.right &#61815;
        //-li
    //-ul
    h4.m-0 Malinda Hollaway
    | @malinda-h
//-div