ul.list-unstyled.side-menu
    li
        a.sa-side-home(href="/template/home"): span.menu-item Dashboard
    //-li
    li
        a.sa-side-typography(href="/template/typography"): span.menu-item Typography
    //-li
    li
        a.sa-side-widget(href="/template/widgets"): span.menu-item Widgets
    //-li
    li
        a.sa-side-table(href="/template/tables"): span.menu-item Tables
    //-li
    li.dropdown
        a.sa-side-form(href="javascript:void(0);"): span.menu-item Form
        ul.list-unstyled.menu-item
            li: a(href="/template/form/elements") Basic Form Elements
            li: a(href="/template/form/components") Form Components
            li: a(href="/template/form/examples") Form Examples
            li: a(href="/template/form/validation") Form Validation
        //-ul
    //-li
    li.dropdown
        a.sa-side-ui(href="javascript:void(0);"): span.menu-item User Interface
        ul.list-unstyled.menu-item
            li: a(href="/template/ui/buttons") Buttons
            li: a(href="/template/ui/labels") Labels
            li: a(href="/template/ui/image-icons") Images&nbsp;&amp;&nbsp;Icons
            li: a(href="/template/ui/alters") Alters
            li: a(href="/template/ui/media") Media
            li: a(href="/template/ui/components") Components
            li: a(href="/template/ui/others") Other
        //-ul
    //-li
    li.dropdown
        a.sa-side-photos(href="javascript:void(0);"): span.menu-item Photo Gallery
        ul.list-unstyled.menu-item
            li: a(href="/template/photo-gallery") Photo Gallery
        //-ul
    //-li
    li
        a.sa-side-chart(href="/template/chart"): span.menu-item Charts
    //-li
    li
        a.sa-side-folder(href="/template/file-manager"): span.menu-item File Manager
    //-li
    li
        a.sa-side-calendar(href="/template/calendar"): span.menu-item Calendar
    //-li
    li.dropdown.active
        a.sa-side-page(href="javascript:void(0);"): span.menu-item Pages
        ul.list-unstyled.menu-item
            li: a.active(href="/template/pages/list-view") List View
            li: a(href="/template/pages/profile-page") Profile Page
            li: a(href="/template/pages/message") Messages
            li: a(href="/template/pages/login") Login
            li: a(href="/template/pages/404") 404 Error
        //-ul
    //-li
//-ul